<nav class="navbar">
  <ul class="nav-items">
    <li><a href="/">Criar um novo post</a></li>
    <li><a href="/read">Ver todos os posts</a></li>
    <li><a href="/updateform">Editar um post </a></li>
    <li><a href="/deleteform">Deletar um post</a></li>
  </ul>
</nav>
